.card__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    height: auto;
    max-width: 100%;
    grid-area: title;
}

@media screen and (min-width: 769px) {
    .card__title {
        font-size: 26px;
        line-height: 30px;
        margin: 0 auto auto 25px;
    }
}

@media screen and (max-width: 768px) {
    .card__title {
        font-size: 22px;
        line-height: 24px;
        margin: 6px 0 0 15px;
        text-overflow: ellipsis;
    }
}
