@import url('../../blocks/mobile-header/_visible/mobile-header_visible.css');
@import url('../../blocks/mobile-header/__background/mobile-header__background.css');
@import url('../../blocks/mobile-header/__title/mobile-header__title.css');


@media screen and (max-width: 320px) {
    .mobile-header {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background: rgba(0, 0, 0, .7);
      opacity: 0;
    }
  }
  
