@import url('../../blocks/saved-news/__info/saved-news__info.css');
@import url('../../blocks/saved-news/__lead/saved-news__lead.css');
@import url('../../blocks/saved-news/__hashtag/saved-news__hashtag.css');

.saved-news {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1232px;
}

@media screen and (min-width: 769px) {
  .saved-news {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .saved-news {
    padding-bottom: 0;
  }
}
