@media screen and (min-width: 769px) {
    .cover__image {
      display: flex;
      width: 100%;
      min-height: 576px;
      background-image: url(../../../images/georgia-de-lotz.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  @media screen and (min-width: 574px) and (max-width: 768px) {
    .cover__image {
      display: flex;
      width: 100%;
      min-height: 400px;
      background-image: url(../../../images/georgia-de-lotz-760.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  @media screen  and (max-width: 573px) {
    .cover__image {
      display: flex;
      width: 100%;
      min-height: 536px;
      background-image: url(../../../images/georgia-de-lotz-320.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
  }