.social-icons {
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 769px) {
    .social-icons {
        margin: 0;
    }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
    .social-icons {
        margin: 20px 35px 0 0;
        padding: 0;
    }
}

@media screen and (max-width: 573px) {
    .social-icons {
        margin: 0 0 0 25px;
        padding: 0;
    }
}


