
  .card__resault {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
  }


@media screen and (min-width: 769px) {
    .card__resault {
        max-width: 712px;
        height: 46px;
        left: 102px;
        top: 656px;
        font-size: 40px;
        line-height: 46px;
        margin: 0 auto auto 101px;
    }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
    .card__resault {
        max-width: 336px;
        height: 34px;
        text-align: left;
        font-size: 30px;
        line-height: 34px;
        margin: 0 auto auto 40px;
    }
}

@media screen and (min-width: 415px) and (max-width: 753px) {
    .card__resault {
        max-width: 336px;
        height: 34px;
        text-align: left;
        font-size: 30px;
        line-height: 34px;
        margin: 50px auto 0 auto; 
    }
}



@media screen and (max-width: 414px) {
    .card__resault {
        max-width: 60%;
        height: 34px;
        text-align: left;
        font-size: 30px;
        line-height: 34px;
        margin: 0 auto auto 15px;
    }
}