.login__mistake-email {
    position: absolute;
    color: red;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  
}


@media screen and (min-width: 574px){
    .login__mistake-email {
        top: 42%;
    }
  }
  

@media screen and (min-width: 320px) and (max-width: 573px){
    .login__mistake-email {
      top: 21%;
    }
  }
  