@media screen and (min-width: 769px) {
    .cards__margin-top {
        margin-top: -18px;
    }
}

@media screen and (max-width: 768px) {
    .cards__margin-top {
        margin-top: -8px;
        margin-bottom: -27px;
    }
}