@media screen and (min-width: 769px) {
    .menu__text-decoration {
      text-decoration: none;
      border-bottom: 3px white solid;
      min-height: 47px;
    }
  }
  
  @media screen and (min-width: 574px) and (max-width: 768px) {
    .menu__text-decoration {
      text-decoration: none;
      border-bottom: 3px white solid;
      min-height: 40px;
    }
  }