@import url('../../blocks/footer/__list/footer__list.css');
@import url('../../blocks/footer/__copyright/footer__copyright.css');
@import url('../../blocks/footer/__item/footer__item.css');
@import url('../../blocks/footer/__margin-main/footer__margin-main.css');
@import url('../../blocks/footer/__margin-second/footer__margin-second.css');
@import url('../../blocks/menu/menu.css');
@import url('../../blocks/footer/__links/footer__links.css');
@import url('../../blocks/social-icons/social-icons.css');

.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

@media screen and (min-width: 769px) {
    .footer {
        height: 80px;
        max-width: 1232px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 574px) and (max-width: 768px) {
    .footer {
        min-height: 64px;
    }
}

@media screen and (max-width: 573px) {
    .footer {
        width: 310px; 
         height: 144px; 
        margin: 0 auto 0 auto;
    }
}