  
  @media screen and (max-width: 320px) {
    .mobile-header__title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 56px;
      color: white
    }
  }
  