  
  @media screen and (max-width: 320px) {
    .mobile-header__background {
      position: absolute;
      left: 50%;
      top: 16.4%;
      display: block;
      width: 320px;
      min-height: 286px;
      background-color: #1A1B22;
      transform: translate(-50%, -50%);
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      color: white;
    }
  }